> World Happiness Report

In [3]:
%pip install collections

ERROR: Could not find a version that satisfies the requirement collections (from versions: none)
ERROR: No matching distribution found for collections
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas

In [5]:
data = pandas.read_csv("Cantril_Scores.csv")
happiness_data = pandas.DataFrame(data)

In [6]:
happiness_data = happiness_data[happiness_data['Year'] >= 2019]
happiness_data

           Entity Code  Year  Cantril ladder score
12    Afghanistan  AFG  2019                2.5229
13    Afghanistan  AFG  2020                2.4038
14    Afghanistan  AFG  2021                1.8590
28        Albania  ALB  2019                5.1174
29        Albania  ALB  2020                5.1988
...           ...  ...   ...                   ...
2361       Zambia  ZMB  2020                3.7598
2362       Zambia  ZMB  2021                3.9822
2378     Zimbabwe  ZWE  2019                3.1448
2379     Zimbabwe  ZWE  2020                2.9951
2380     Zimbabwe  ZWE  2021                3.2035

[432 rows x 4 columns]

In [7]:
arr = []
for name in happiness_data['Entity']:
    if name not in arr:
        arr.append(name)

print(len(arr), '\n', arr)

150
 ['Afghanistan', 'Albania', 'Algeria', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Eswatini', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Northern Cyprus', 'Norway', 'Pakistan', 'Palestine', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [9]:
data = pandas.read_csv("biweekly_covid_deaths.csv")
covid_data = pandas.DataFrame(data)

In [10]:
covid_data

,date,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185,2023-04-02,1.393,0.049,0.029,0.704,0.0,0.0,0.0,0.028,0.0,...,0.584,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.184
1186,2023-04-03,1.320,0.049,0.026,0.704,0.0,0.0,0.0,0.028,0.0,...,0.584,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.184
1187,2023-04-04,1.267,0.049,0.025,0.704,0.0,0.0,0.0,0.028,0.0,...,0.584,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.184
1188,2023-04-05,1.201,0.049,0.017,0.704,0.0,0.0,0.0,0.028,0.0,...,0.584,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.123
1189,2023-04-06,1.135,0.024,0.017,0.704,0.0,0.0,0.0,0.028,0.0,...,0.584,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.123